<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Surrey</title>

  <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
  <link href="js/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="m-login__container">
        <div class="row">
          <div class="col-md-6">

            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title" data-original-title="Enter Details of Personal" data-toggle="m-popover"
                   title="">
                <br>
                <h4>Program
                  organization/arrangement </h4>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <form>
          <div class="row">
            <div class="col-md-12" style="border: rgba(31,123,145,0.25) solid;">
              <div class="m-portlet__head">
                <br/>

                <div class="m-portlet__body form-group">
                  <div class="form-input-wide" data-layout="full" id="cid_4">
                    <table cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix"
                           role="presentation" summary="">
                      <tbody>
                      <tr class="form-matrix-tr form-matrix-header-tr">
                        <th class="form-matrix-th" style="border:none">
                          &nbsp;
                        </th>
                        <th class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"
                            scope="col">
                          <label id="label_4_col_0"> Very satisfied </label>
                        </th>
                        <th class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"
                            scope="col">
                          <label id="label_4_col_1"> Satisfied </label>
                        </th>
                        <th class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"
                            scope="col">
                          <label id="label_4_col_2"> Neutral </label>
                        </th>
                        <th class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"
                            scope="col">
                          <label id="label_4_col_3"> Unsatisfied </label>
                        </th>
                        <th class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"
                            scope="col">
                          <label id="label_4_col_4"> Very unsatisfied </label>
                        </th>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_0" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_0"><h4>Instructors knowledge about the
                            topic </h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_0_0"
                                 name="q4_overallSatisfaction[0]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_0_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_0_1"
                                 name="q4_overallSatisfaction[0]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_0_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_0_2"
                                 name="q4_overallSatisfaction[0]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_0_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_0_3"
                                 name="q4_overallSatisfaction[0]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_0_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" id="input_4_0_4"
                                 name="q4_overallSatisfaction[0]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_0_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_1" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_1"><h4> Facility environment </h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_1_0"
                                 name="q4_overallSatisfaction[1]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_1_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_1_1"
                                 name="q4_overallSatisfaction[1]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_1_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_1_2"
                                 name="q4_overallSatisfaction[1]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_1_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_1_3"
                                 name="q4_overallSatisfaction[1]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_1_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_1_4"
                                 name="q4_overallSatisfaction[1]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_1_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_2" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_2"><h4> Administrative processes</h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_2_0"
                                 name="q4_overallSatisfaction[2]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_2_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_2_1"
                                 name="q4_overallSatisfaction[2]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_2_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_2_2"
                                 name="q4_overallSatisfaction[2]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_2_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_2_3"
                                 name="q4_overallSatisfaction[2]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_2_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_2_4"
                                 name="q4_overallSatisfaction[2]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_2_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_3" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_3"><h4> Teaching material used during the
                            program </h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_3_0"
                                 name="q4_overallSatisfaction[3]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_3_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_3_1"
                                 name="q4_overallSatisfaction[3]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_3_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_3_2"
                                 name="q4_overallSatisfaction[3]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_3_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_3_3"
                                 name="q4_overallSatisfaction[3]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_3_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_3_4"
                                 name="q4_overallSatisfaction[3]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_3_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_4" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_4"><h4>The trainer’s language to understand </h4>
                          </label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_4_0"
                                 name="q4_overallSatisfaction[4]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_4_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_4_1"
                                 name="q4_overallSatisfaction[4]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_4_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_4_2"
                                 name="q4_overallSatisfaction[4]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_4_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_4_3"
                                 name="q4_overallSatisfaction[4]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_4_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_4_4"
                                 name="q4_overallSatisfaction[4]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_4_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_5" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_5"><h4> Theoretical and practical learning </h4>
                          </label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_5_0"
                                 name="q4_overallSatisfaction[5]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_5_1"
                                 name="q4_overallSatisfaction[5]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_5_2"
                                 name="q4_overallSatisfaction[5]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_5_3"
                                 name="q4_overallSatisfaction[5]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_5_4"
                                 name="q4_overallSatisfaction[5]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_4"> </label>
                        </td>
                      </tr>

                      <tr aria-labelledby="label_4 label_4_row_5" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_6"><h4> Program explained clearly before
                            registration </h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_6_0"
                                 name="q4_overallSatisfaction[6]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_6_1"
                                 name="q4_overallSatisfaction[6]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_6_2"
                                 name="q4_overallSatisfaction[6]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_6_3"
                                 name="q4_overallSatisfaction[6]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_6_4"
                                 name="q4_overallSatisfaction[6]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_5" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_7"><h4>Duration of the program was good enough as
                            per your expectation </h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_7_0"
                                 name="q4_overallSatisfaction[7]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_7_1"
                                 name="q4_overallSatisfaction[7]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_7_2"
                                 name="q4_overallSatisfaction[7]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_7_3"
                                 name="q4_overallSatisfaction[7]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_7_4"
                                 name="q4_overallSatisfaction[7]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_4"> </label>
                        </td>
                      </tr>
                      <tr aria-labelledby="label_4 label_4_row_5" class="form-matrix-tr form-matrix-value-tr"
                          role="group">
                        <th class="form-matrix-headers form-matrix-row-headers" scope="row">
                          <label id="label_4_row_8">
                            <h4>Interested in enrolling in another
                              program </h4></label>
                        </th>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_0" class="form-radio" id="input_4_8_0"
                                 name="q4_overallSatisfaction[8]" type="radio"
                                 value="Very satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_0"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_1" class="form-radio" id="input_4_8_1"
                                 name="q4_overallSatisfaction[8]" type="radio"
                                 value="Satisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_1"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_2" class="form-radio" id="input_4_8_2"
                                 name="q4_overallSatisfaction[8]" type="radio"
                                 value="Neutral">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_2"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_3" class="form-radio" id="input_4_8_3"
                                 name="q4_overallSatisfaction[8]" type="radio"
                                 value="Unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_3"> </label>
                        </td>
                        <td class="form-matrix-values">
                          <input aria-labelledby="label_4_col_4" class="form-radio" id="input_4_8_4"
                                 name="q4_overallSatisfaction[8]" type="radio"
                                 value="Very unsatisfied">
                          <label class="matrix-choice-label matrix-radio-label"
                                 for="input_4_5_4"> </label>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <label class="form-label form-label-top form-label-auto" for="input_5"
                         id="label_5"><br>
                    <h4>How can we improve this event?</h4></label>
                  <div class="form-input-wide" data-layout="full" id="cid_5">
                <textarea aria-labelledby="label_5" class="form-control m-input" data-component="textarea"
                          id="input_5" name="q5_howCan"
                          style="width:700px;height:140px"></textarea>
                  </div>
                  <div class="m-login__form-action">
                    <br/>
                    <button class="btn m-btn--pill m-btn--air btn-primary btn-lg m-btn m-btn--custom"
                            id="m_login_signup_submit"
                            onclick="addSurrey();">
                      Submit
                    </button>&nbsp;&nbsp;
                    <a class="btn m-btn--pill m-btn--air btn-success btn-lg m-btn m-btn--custom"
                       href="Kubernate-seminerTr.pptx" role="button">
                      Download PPT File
                    </a>
                    <a class="btn m-btn--pill m-btn--air btn-info btn-lg m-btn m-btn--custom"
                       href="Deployment.yaml" role="button">
                      Deployment Example
                    </a>
                    <a class="btn m-btn--pill m-btn--air btn-info btn-lg m-btn m-btn--custom"
                       href="Service.yaml" role="button">
                      Service Example
                    </a>
                    <!--                    <input type="submit" class="btn m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-primary btn-lg m-btn m-btn&#45;&#45;custom"  onclick="addSurrey();">-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="js/Surrey.js" type="text/javascript"></script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>



